dist/
venv/
build/
__pycache__/
.idea/
auction_data/*
!auction_data/.gitkeep
auction_data_custom/*
!auction_data_custom/.gitkeep
cleaned_data/*
!cleaned_data/.gitkeep
auction_house.png
current_screen.png
server_name.png
MIDI/*
!MIDI/Only my railgun_轻筝&素琴_1.1x.mid